.character-item {
  span {
    font-weight: 600;
  }

  .character-item-content {
    border: 1px solid #dddddd;
    padding: 1rem 1.5rem;
    min-height: 200px;
    margin-bottom: 1.5rem;
  }

  .character-name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  .character-playedBy {

  }

  .character-gender {

  }

  .character-death {

  }
}